[Desktop Entry]
Type=Application
Version=1.0
Name=pkgtk
Name[es]=pkgtk
GenericName=pkgtk
GenericName[es]=pkgtk
Comment=FreeBSD package manager
Comment[es]=Manejador de paquetes FreeBSD
Exec=pkgtk
Icon=pkgtk
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
